body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #76ebfa;
}

h1 {
  margin-top: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: rgb(181, 127, 229);
  border: 2px solid #333;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  background-color: #e0e0e0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
